@model Forum.Web.Models.UserViewModel

@{
    ViewBag.Title = "Users";
}
<div class="container">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Number of Posts</th>   
            <th class="hidden-xs">Threads made by user</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.user.UserName            
            </td>
            <td>
                
                    @foreach (var item in Model.userRoles)
                    {<div class="text-success">
                    @item.ToString()
                </div>
                    }
               
            </td>
            <td class="text-center col-xs-3">
                @Model.CountPosts()
            </td>
            <td class="hidden-xs">
                <ul>
                    @foreach (var item in Model.userThreads.ToList())
                    {

                        <li> @Html.ActionLink(item.ThreadName, "ViewThread", "Thread", new { threadId = item.IdThread }, null)</li>

                    }
                </ul>

                </td>
                </tr>
        <tr class="visible-xs">
            <td>Threads made by user</td>
            <td class="visible-xs">
                <ul>
                    @foreach (var item in Model.userThreads.ToList())
                    {

                        <li> @Html.ActionLink(item.ThreadName, "ViewThread", "Thread", new { threadId = item.IdThread }, null)</li>

                    }
                </ul>

            </td>
        </tr>
            </tbody>
</table>
@if (Model.user.UserName != User.Identity.Name)
{
<div class="btn" style="margin: 20px 20px">
    <input type="submit" value="Send Messege" class="btn btn-success" onclick="location.href='@Url.Action("SendMessege", "User", new { From = User.Identity.Name, To = Model.user.UserName })'" />

</div>
}
@if (User.IsInRole("Admin"))
{
        <div class="btn" style="margin: 20px 20px">
    <input type="submit" value="Ban User" class="btn btn-warning" onclick="location.href='@Url.Action("BanUser", "Admin", new { userName = Model.user.UserName })'" />

</div>
}
    </div>

