
@model Forum.Web.Models.SectionViewModel


<div class="panel" style="margin:15px 15px; padding:5px 5px">
    <div class="panel-heading text-center"><h1>@Model.Name</h1></div>
    <table class="table table-striped col-md-2">
        <colgroup>
            <col>
            <col span="2" class="info">
            <col span="2" class="success">
        </colgroup>
        <thead class="thead-inverse">
            <tr>
                <th>Thread Name </th>
                <th class="text-center">Thread Author</th>
                <th class="text-center">Number of posts</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.threads)
            {
                <tr>
                    <td class="col-md-4">@Html.ActionLink(item.ThreadName, "ViewThread", "Thread", new { threadId = item.IdThread }, null)</td>
                    <td class="col-md-2 text-center">@item.UserName</td>
                    <td class="col-md-2 text-center"> @Model.CountPosts(item.IdThread) </td>
                    @if (Model.User.IsInRole("Admin"))
                {
                        <td class="col-md-2" style="margin: 20px 20px">
                            <input type="submit" value="Remove Thread" class="btn btn-danger"  onclick="location.href='@Url.Action("RemoveThread", "Admin", new { threadId = item.IdThread }, null)'" />

                        </td>
                    }

                </tr>


            }
        </tbody>

    </table>
    <div class="btn" style="margin: 20px 20px">
        <input type="submit" value="AddThread" class="btn btn-success" onclick="location.href='@Url.Action("AddThread", "Thread", new { sectionId = Model.sectionId })'" />

    </div>
</div>
   