
@model Forum.Web.Models.SectionViewModel


<div class="container">
    <div class="panel-heading text-center"><h1>@Model.Name</h1></div>
    <div class="row">
        
            <table class="table table-striped col-md-12 col-xs-2">
               
                <thead class="thead-inverse">
                    <tr>
                        <th>Thread Name </th>
                        <th class="text-center ">Thread Author</th>
                        <th class="text-center hidden-xs">Number of posts</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.threads.Skip((Model.pager.CurrentPage - 1) * Model.pager.PageSize).Take(Model.pager.PageSize))
            {
                        <tr>
                            <td class="col-md-4 ">@Html.ActionLink(item.ThreadName, "ViewThread", "Thread", new { threadId = item.IdThread }, null)</td>
                            <td class="col-md-4  text-center">@Html.ActionLink(item.UserName, "Users", "User", new { userName = item.UserName }, null)</td>
                            <td class="col-md-2  hidden-xs text-center"> @Model.CountPosts(item.IdThread) </td>
                            @if (Model.User.IsInRole("Admin"))
                {
                                <td class="col-md-2 col-md-offset-3 hidden-xs">
                                    <input type="submit" value="Remove Thread" class="btn btn-danger" onclick="location.href='@Url.Action("RemoveThread", "Admin", new { threadId = item.IdThread }, null)'" />

                                </td>
                                <td class="visible-xs">
                                    <a href=@Url.Action("RemoveThread", "Admin", new { threadId = item.IdThread })
                                       class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span>
                                       </a>
                                </td>
                            }

                        </tr>


                    }
                </tbody>

            </table>
       
    </div>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">


            <!-- items being paged -->
            <!-- pager -->
            @if (Model.pager.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Model.pager.CurrentPage > 1)
                {
                        <li>
                            @Html.ActionLink("First", "ViewSection")

                        </li>
                        <li>
                            @Html.ActionLink("Previous", "ViewSection", new { page = Model.pager.CurrentPage - 1, sectionId = Model.sectionId })

                        </li>
                    }

                    @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
                {
                        <li class="@(page == Model.pager.CurrentPage ? "active" : "")">
                            @Html.ActionLink(page.ToString(), "ViewSection", new { page = page, sectionId = Model.sectionId })

                        </li>
                    }

                    @if (Model.pager.CurrentPage < Model.pager.TotalPages)
                {
                        <li>

                            @Html.ActionLink("Next", "ViewSection",  new { page = Model.pager.CurrentPage + 1, sectionId = Model.sectionId })
                        </li>
                        <li>
                            @Html.ActionLink("Last", "ViewSection", new { page = Model.pager.TotalPages, sectionId = Model.sectionId })

                        </li>
                    }
                </ul>}
        </div>
    </div>
    <div class="row">
        <div class="btn" style="margin: 20px 20px">
            <input type="submit" value="AddThread" class="btn btn-success" onclick="location.href='@Url.Action("AddThread", "Thread", new { sectionId = Model.sectionId })'" />

        </div>
    </div>
</div>
   