
@model Forum.Web.Models.SectionViewModel


<table class="table table-striped col-md-2">
    <colgroup>
        <col>
        <col span="2" class="info">
        <col span="2" class="success">
    </colgroup>
    <thead class="thead-inverse">
        <tr>
            <th>Thread Name </th>
            <th class="text-center">Thread Author</th>
            <th class="text-center">Number of posts</th>
            
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model.threads)
        {
            <tr>
                <td class="col-md-4">@Html.ActionLink(item.ThreadName, "ViewThread", new { threadId = item.IdThread })</td>
                <td class="col-md-2 text-center">@item.UserName</td>
                <td class="col-md-2 text-center"> @Model.CountPosts(item.IdThread) </td>
                @if (Model.User.IsInRole("Admin"))
                {
                    <td class="col-md-2" style="margin: 20px 20px">
                        <input type="submit" value="Remove Thread" class="btn-default" style="background-color:antiquewhite;" onclick="location.href='@Url.Action("RemoveThread", "Admin", new { threadId = item.IdThread })'" />

                    </td>
                }
                
            </tr>
            

        }
    </tbody>

</table>
<div class="btn" style="margin: 20px 20px">
    <input type="submit" value="AddThread" class="btn-default" style="background-color:antiquewhite;" onclick="location.href='@Url.Action("AddThread", "Home", new { sectionId = Model.sectionId })'" />

</div>
    
   